<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="/css/styles2.css">
</head>

<body>

  <header class="header">
    <div class="containerh">
      <h1>Admin Panel</h1>
      <nav>
        <ul>
          <li><a href="#">Profile</a></li>
          <li><a href="/adminlogout">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="left-menu">
    <ul>
      <li><a href="/home">Dashboard</a></li>
      <li>
        <a href="#">Recruitment</a>
        <ul class="submenu">
          <li><a href="/add-jobs">Add Jobs</a></li>
          <li><a href="/jobs">Show Jobs</a></li>
          <li><a href="/add-skills">Skills</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Project</a>
        <ul class="submenu">
          <li><a href="/showprojects">Projects</a></li>
          <li><a href="/showprojects">Add Task</a></li>
          <li><a href="/add-project">Add Project</a></li>
        </ul>
      </li>
      <li><a href="/end">Completion</a></li>
      <li><a href="/certification">Certification</a></li>
      <li><a href="#">Notice Board</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">License</a></li>
    </ul>
  </div>
  <div class="main-con" style="margin-left: 250px; ;">
    <div class="section-container section-left">
      <section>
        <h2 class="section-title">Projects</h2>
        <div class="grid-container">
          <div class="card">
            <h2>Total Projects</h2>
            <p class="count">{{totalProject}}</p>
          </div>
          <div class="card">
            <h2>Total Tasks</h2>
            <p class="count">{{totalTask}}</p>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">Jobs</h2>
        <div class="grid-container">
          <div class="card">
            <h2>Total Jobs</h2>
            <p class="count">{{totalJob}}</p>
          </div>
          <div class="card">
            <h2>Total Candidates Hired</h2>
            <p class="count">{{totalCandidateHire}}</p>
          </div>
        </div>
      </section>
    </div>

    <section class="full-width">
      <h2 class="section-title">Tasks</h2>
      <div class="grid-container">
        <div class="card">
          <canvas id="tasksChart"></canvas>
        </div>
      </div>
    </section>
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var totalCompletedTask = {{totalCompletedTask}}
        var totalPendingTask =  {{totalPendingTask}};

        var tasksData = {
            labels: ['Completed', 'Pending'],
            datasets: [{
                data: [totalCompletedTask, totalPendingTask],
                backgroundColor: ['#36a2eb', '#ff6384'],
                borderWidth: 0
            }]
        };

        var tasksCanvas = document.getElementById('tasksChart');

        if (tasksCanvas) {
            var tasksChart = new Chart(tasksCanvas, {
                type: 'doughnut',
                data: tasksData,
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    }
                }
            });
        }
    </script>


</body>

</html>